.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #3772FF;
  width: 100%;
  list-style: none;
}

.card:hover{
  cursor: pointer;
}

.dates{
    display: flex;
    justify-content: space-between;
}

h3{
  padding: 0;
  margin: 0;
}